.container{
    background-color: rgb(222 219 255);
    text-align: center;
    height: 800px;
    border-radius: 15px;
    padding: 25px;
}
h1{
    font-weight: 700;
    color: rgb(0, 110, 255);
}
input{
    border: none;
    width: 340px;
    height: 40px;
    border-radius: 12px;
    color: black;
    font-size: larger;
    font-weight: 600;
    padding-left: 15px;
}
#calculate{
     border: none;
     width: 150px;
     height: 50px;
     border-radius: 15px;
     font-weight: 700;
     font-size: larger;
     background-color: green;
     color: aliceblue;
}
#clear{
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    font-weight: 700;
    font-size: larger;
    background-color: rgb(223, 188, 188);
    color: rgb(79, 30, 255);
}
label{
    font-size: larger;
    font-weight: 600;
}
#result{
    margin-top: 100px;
    /* background-color: pink; */
    border-radius: 15px;
    padding: 10px;
}
#mma{
    text-align: left;
    color: black;
    font-size: larger;
    font-weight: 500;
}
#tpm{
    text-align: left;
    color: black;
    font-size: larger;
    font-weight: 500;
}
#tim{
    text-align: left;
    color: black;   
    font-size: larger;
    font-weight: 500; 
}